/* Part_1b user information */
.section > .inner {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.section > .inner .site-of-the-day {
  font-size: 110px;
  font-weight: bold;
  width: 100%;
}

/* Part_2 Promotion Box */
.section1 > .inner {
  height: 510px;
  width: 100%;
  overflow: hidden;
  align-items: center;
  background-color: #455b78;
  margin-top: 15px;
}

#slider_layout {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  margin-left: 25px;
}

#slide-letter {
  color: #ffffff;
  grid-column: 1/span 2;
  font-size: 20px;
  min-width: 40%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  border-radius: 20px;
}
#slide-letter span {
  width: 50px;
}

#slider_name {
  font-size: 25px;
  color: #ffffff;
}

.allslider {
  position: relative;
  width: 600px;
  height: 400px;
  margin: auto;
}
.allslider .slide {
  width: 600px;
  height: 400px;
  display: none;
}
.allslider .Sactive {
  display: block;
}
.allslider #num1 img {
  width: 600px;
  height: 400px;
}
.allslider #num2 img {
  width: 600px;
  height: 400px;
}
.allslider #num3 img {
  width: 600px;
  height: 400px;
}
.allslider #num4 img {
  width: 600px;
  height: 400px;
}

.introduction-location,
.introduction-money {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction-location img,
.introduction-money img {
  width: 300px;
  height: 300px;
}
.introduction-location p,
.introduction-money p {
  font-size: 40px;
  font-weight: bold;
}

.intro-money-letter {
  margin-right: 60px;
}

.intro-location-letter {
  margin-left: 60px;
}

.intro-money-img img {
  border-radius: 20px;
}

.intro-location-img img {
  border-radius: 50%;
}

.introduction-location {
  background-color: #fbf7f2;
}

.introduction-money {
  background-color: #e6f3e6;
}

/* Part_3 Product Loop */
.section2 > .inner {
  height: 350px;
  overflow: hidden;
  width: 100%;
  align-items: center;
}

#s2 {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
}
#s2 a:link,
#s2 a:visited {
  color: black;
  text-align: center;
}
#s2 .item {
  animation: abc 10s linear infinite;
  cursor: default;
  width: 300px;
}
#s2 .item img {
  width: 200px;
}

@keyframes abc {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
/* Part_4_Title */
.move-writter {
  background: #7399c9;
  height: 130px;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
}

#ig_title {
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  left: 50%;
  letter-spacing: 5px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #6fa6e8;
  padding: 8px 12px;
  border-radius: 20px;
}

#ig_loop {
  color: rgba(205, 205, 205, 0.5);
  display: flex;
  flex: 0 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 120px;
  font-weight: 800;
  white-space: nowrap;
}
#ig_loop p {
  animation: marquee 50s linear infinite;
  cursor: default;
  filter: blur(3px);
  line-height: 1;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
/* Part_4 Report */
.section3 {
  margin-left: 75px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.section3 > .inner {
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.list {
  height: inherit;
  margin: 0 20px;
  width: 300px;
}
.list img {
  width: 210px;
  height: 297px;
}
.list p {
  font-size: 12px;
}

/* footer */
footer {
  background-color: #243040;
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
  padding: 30px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */